@page "/todo"
@using System.Data;
@using System.Data.SqlClient;

<PageTitle>Todo</PageTitle>

<h3>Todo</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>@todo.Title</li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private string? newTodo;
    private string? sql;
    private List<TodoItem> todos = new();
    private string connectionString = "Data Source=ToDo.db";
    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            sql = "SELECT * FROM ToDo where Title = '" + newTodo + "';";
            newTodo = string.Empty;
            ExecSQL(sql);
        }
    }

    private DataSet ExecSQL(string sql)
    {
        using (var connection = new SqlConnection(connectionString))
        {
            var adapter = new SqlDataAdapter(sql, connection);
            var result = new DataSet();
            adapter.Fill(result);
            return result;
        }
    }
}
